@import "variables";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
) !default;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.813rem;
$font-size-sm: 0.875rem;
$line-height-base: 1.53;
$h1-font-size: $font-size-base * 4.767 !default;
$h2-font-size: $font-size-base * 2.155 !default;
$btn-padding-x-sm: 20px;
$btn-padding-y-sm: 10px;
$btn-border-radius-sm: 5px;
$btn-font-weight: 700;
$primary: $green !default;
$green: #0eb493 !default;
$body-bg: $gray;
